@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400&family=Nunito:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    background-color: #7D9967;
    color: #282928;
}

h1 {
    font-size: 2.6rem;
    letter-spacing: 0.2rem;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
}
h1 span {
    color: #7D9967;
    font-weight: 600;
}

p {
    font-size: 1.1rem;
}

#main-container {
    background-color: #fff;
    width: 90%;
    max-width: 1400px;
    margin: 4rem auto;
    border-radius: 10px;
    padding: 2.2rem 4rem ;
}
#logo h1 {
    font-size: 1.3rem;
    font-family: 'Nunito', sans-serif;
    align-content: center;
    justify-content: center;
}

#logo > i {
    font-size: 3rem;
    color: #7D9967;
}

.flex {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    flex-grow: 1;
}

#menu-list {
    margin: 0 auto;
}
#menu-list li {
    list-style: none;
}

#menu-list li+li {
    margin-left: 2rem;
}
#menu-list li a {
    text-decoration: none;
    color: #282928;
    font-size: 1.2rem;
}

#menu-list li a:hover {
    color: #7D9967;
}


#about-section {
    margin-top: 5rem;
    padding: 2rem 3rem;
}

.about h1 {
    margin-bottom: 2.5rem;
    margin-top: 2rem;
}

.btn {
    text-transform: uppercase;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    font-family: 'Jost', sans-serif;
}
.btn + .btn{
    margin-left: 1rem;
}

.btn:hover{
    border-bottom: 1px solid #7D9967;;
}
#sign-in{
    background-color: #f5f2d0;
}

.order-button {
    border-radius: 1rem;
    border: 1px solid #7D9967;
    padding: 0.6rem 3rem ;
    background-color: transparent;
    font-size: 1.2rem;
    margin-top: 3rem;
    font-family: 'Jost', sans-serif;
    cursor: pointer;
}

.order-button:hover {
    background-color: #f5f2d0;;
}

#more-info p {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 10rem;
}

#more-info span {
    color: #7D9967;
    font-weight: bolder;
}

.left{
    width: 45%;
    margin-right: 12rem;
}

.right{
    width: 30%;
    align-self: flex-start;
}

.img-top {
    width: 100%;
    max-width: 320px;
}

footer p{
    margin-top: 5rem;
    text-align: center;
    color: #4f4e4d;
}

